
        {% block body %}  
            {% if afficher == 'burgers' %} 
                <p> Liste des Burgers - CRUDcroustillant </p>
                <nav>
                    <a href="{{ path('home') }}"> Accueil </a>
                </nav>
            {% elseif afficher == 'home' %}
               <p> Accueil - CRUDcroustillant! </p>
               {% block img %}
                    <img src={{ asset('whopper.jpg') }} alt="Card image cap">
                {% endblock %}
            {% else %}
                <p> Page non trouvée - CRUDcroustillant </p>
            {% endif %}
        {% endblock %}
